.controller.custom {
    background: url(https://imgur.com/eWlI7VE.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}
.custom.disconnected {
    background: url(https://imgur.com/1i0fvvM.png);
}

.switch.disconnected div {
    display: none;
}
